<!doctype html>
<html lang="en" data-framework="javascript">
  <head>
    <meta charset="utf-8">
    <title>Simple Todo List</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <section class="todoapp">
      <header class="header">
        <h1>todos</h1>
        <form action='/' method='post'>
          <input class="new-todo" name="todoListItem" placeholder="What needs to be done?" autofocus>
        </form>
      </header>
      <section class="main">
        <!-- <form>
          <ul class="todo-list">
            <li><input type="button" name="complete" value = "Mark Complete" class="completedTasks">{{todoItems}}</li>
          </ul>
        </form> -->
      </section>
    </section>
    <script src="main.js"></script>
  </body>
</html>
